export(mfr,is.complete,is.cycle,isolates,removeIsolates,peo)
export(product.game,kidneyEgg,kidney.egg.game)
export(rchordal,rchordal.add,rchordal.subtract)
export(rtree)
export(Star,graph.bwg,graph.wheel)
export(has.singular,singular,singular.version,simplicial.vertex)
export(graph2EdgeIdeal)
export(MFRbwg,MFRComplete,MFRCompleteBipartite,MFRCycle,MFRStar,MFRPath,
       MFRWheel)
export(scanMFR)
export(timings,fit.timings)
export(count.bars,count.angles,count.triangles,count.squares,count.bipartite)
export(chordal.comp.mfr,is.chordal,is.chordal.comp)
export(checkDB,create.mfr.database)
export(checkDB1,chordalComp1)
export(which.DB,combineDBs)
export(estimate.mfr.time)
export(layout.concentric.circles)
export(splittingEdge,splittingEdges)
export(linearStrand,linearStrandLower,betti2,betti3)
export(graph.barbell,graph.martini.glasses,graph.truncated.tetrahedron)
export(clique.expand)
export(rdpg.game,rdpg.estimate)
export(directed2bipartite,layoutD2B,graph2BinomialEdgeIdeal,mfrBinomialEdge)
useDynLib(mfr)
S3method(plot,mfr)
S3method(print,mfr)
S3method(print,mfrScan)
S3method(print,linear.strand)

