export(mfr,is.complete,is.cycle,isolates,removeIsolates,peo)
export(kidneyEgg,kidney.egg.game)
export(rchordal,rchordal.add,rchordal.subtract)
export(rtree)
export(has.singular,singular,singular.version,simplicial.vertex)
export(graph2EdgeIdeal)
export(MFRbwg,MFRComplete,MFRCompleteBipartite,MFRCycle,MFRStar,MFRPath,
       MFRWheel)
export(scanMFR)
export(timings,fit.timings)
export(count.bars,count.angles,count.triangles)
useDynLib(mfr)
S3method(plot,mfr)
S3method(print,mfr)
S3method(print,mfrScan)
